<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- AUTO REFRESH --}}
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/project.css" />
    <link rel="stylesheet" href="./css/resume.css" />
    <title>Sharingo</title>
</head>
<body>
    {{{body}}}
</body>
</html>