<header class="header">
    <a href="/about" class="active">About</a>
    <a href="/project">Project</a>
    <a href="/resume">Resume</a>
</header>

<div class="container">
    <div class="texto">
    <div class="box1"> 
        <div class="geral test1"> </div>
        <div class="geral test2"> </div>
        <div class="geral test3"> </div>
        <div class="geral test4"> </div>
        <div class="geral test5"> </div>
        <div class="geral test6"> </div>
        <div class="geral test7"> </div>
        <div class="geral test8"> </div>
    </div>
    </div>
    <div class="texto">
    <div class="box2">
        <img src="img1" alt="img1"></div>
    </div>
</div>

<div class="progressbar">
    <div class="progress">
    </div>
</div>

<footer class="finish">
    <div class="final">
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="final right">
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
    </div>
    </div>
</footer>