<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .header {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .header button {
        background-color: rgba(239, 239, 239, 0.993);
        padding: 10px;
        border-style: groove;
        border-width: 1px;
    }

    .container{
        height: auto;
        width: 100%;
        padding: 10x;
        display: flex;
    }

    .container section {
        width: 50%;
        margin-top: 40px;
        justify-content: space-evenly;
        align-items: flex-start;
        display: flex;
    }

    .container section .prime {
        padding: 100px;
        border-style: groove;
        border-width: 1px;
        background-color: rgba(239, 239, 239, 0.993);
    }

    .container .primeira {
        width: 60%;
    }

    .container .segunda {
        width: 40%;
    }

    .finish {
        align-items: center;
    }

    .parte {
        
    }

</style>

<header class="header">
    <button class="about">About</button>
    <button>Resume</button>
    <button>Project</button>
</header>

<div class="container">
    <section class="primeira">
        <div class="prime">Teste1</div> 
    </section>
    <section class="segunda">
        <div class="prime">Teste2</div> 
        </section>
</div>

<div class="finish">
    <div class="parte">
        <div>

        </div>
    </div>
</div>

<footer>
    Thays
</footer>