<hender class="header">
    <a href="/about">About</a>
    <a href="/project" class="active">Project</a>
    <a href="/resume">Resume</a>
</hender>

<div class="container">
    <div class="boxao">
        <div class="box3" style="border-bottom: none;">
            <div class="pop test"></div>
        </div>
        <div class="box3" style="border-bottom: none">
            <div class="pop pop1"></div>
            <ul>
                <li>
                    <div class="pop pop2"></div>
                </li>
                <li>
                    <div class="pop pop3"></div>
                </li>
                <li>
                    <div class="pop pop4"></div>
                </li>
                <li>
                    <div class="pop pop5"></div>
                </li>
            </ul>
        </div>
            <div class="box3" style="border-bottom: none;border-top: none">
                <div class="pop pop1"></div>
            </div>
        <div class="box3 boxinho" style="border-top: none">
            <div class="firstcontent">
                <ul>
                    <li>
                        <div class="pop pop6"></div>
                    </li>
                    <li>
                        <div class="pop pop7"></div>
                    </li>
                </ul>
            </div>

            <div class="firstcontent">
                <ul>
                    <li>
                        <div class="pop pop8"></div>
                    </li>
                    <li>
                        <div class="pop pop9"></div>
                    </li>
                    <li>
                        <div class="pop pop10"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="progressbar">
    <div class="progress">
    </div>
</div>

<footer class="finish">
    <div class="final">
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="final right">
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
    </div>
    </div>
</footer>