<hender class="header">
    <a href="/about">About</a>
    <a href="/project" class="active">Project</a>
    <a href="/resume">Resume</a>
</hender>

<div class="container">
    <div class="boxao">
        <div class="boxIII"> 
            <div class="pop test"></div>
        </div>
        <div class="box3">
            <div class="pop pop1"></div>
            <div class="pop pop2"></div>
            <div class="pop pop3"></div>
            <div class="pop pop4"></div>
            <div class="pop pop5"></div>
            <div class="pop pop6"></div>
            <div class="pop pop7"></div>
            <div class="pop pop8"></div>
            <div class="pop pop9"></div>
            <div class="pop pop10"></div>
        </div>
    </div>
</div>


<div class="progressbar">
    <div class="progress">
    </div>
</div>

<footer class="finish">
    <div class="final">
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="final right">
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
    </div>
    </div>
</footer>