<hender class="header">
    <a href="/about">About</a>
    <a href="/project" class="active">Project</a>
    <a href="/resume">Resume</a>
</hender>

<div class="container">
    <div class="boxao">
        <div class="box3" style="border-bottom: none;">
            <div class="titulos"></div>
        </div>
        <div class="box3" style="border-bottom: none">
            <div class="textos" style="width: 150px; height: 18px; margin-left:90px; margin-bottom: 40px"></div>
            <ul class="ml">
                <li>
                    <div class="textos" style="width: 300px;"></div>
                </li>
                <li>
                    <div class="textos" style="width: 600px;"></div>
                </li>
                <li>
                    <div class="textos" style="width: 400px;"></div>
                </li>
                <li>
                    <div class="textos" style="width: 600px;"></div>
                </li>
            </ul>
        </div>
            <div class="box3" style="border-bottom: none;border-top: none">
                <div class="textos" style="width: 150px; height: 18px; margin-left:90px"></div>
            </div>
        <div class="box3 boxinho" style="border-top: none">
            <div class="firstcontent">
                <ul class="ml">
                    <li>
                        <div class="textos" style="width: 200px;"></div>
                    </li>
                    <li>
                        <div class="textos" style="width: 250px;"></div>
                    </li>
                </ul>
            </div>

            <div class="firstcontent">
                <ul>
                    <li>
                        <div class="textos" style="width: 300px;"></div>
                    </li>
                    <li>
                        <div class="textos" style="width: 300px;"></div>
                    </li>
                    <li>
                        <div class="textos" style="width: 300px;"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="progressbar">
    <div class="progress">
    </div>
</div>