<header class="header">
    <a href="/about">About</a>
    <a href="/project">Project</a>
    <a href="/resume" class="active">Resume</a>
</header>

<div class="contaneir">
    <div class="boxao1">
        <div class="boxIV">
            <div class="pop1 test1"></div>
        </div>
        <div class="box4">
        </div>
    </div>
</div>

<div class="progressbar">
    <div class="progress">
    </div>
</div>

<footer class="finish">
    <div class="final">
    <p>
    Lorem ipsum dolor sit amet
    </p>
    </div>
    <div class="final right">
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
        <div class="bolinha">
            <img src="img1.png" alt="img1">
        </div>
    </div>
</div>
</footer>