<header class="header">
    <a href="/about">About</a>
    <a href="/project">Project</a>
    <a href="/resume" class="active">Resume</a>
</header>

<div class="container">
    <div class="boxao">
        <div class="box3" style="border-bottom: none;">
            <div class="titulos"></div>
        </div>
        <div class="box3" style="border-bottom: none;">
            <div class="caixas">
                <div class="textos">
                </div>
                <div class="textos">
                </div>
                <div class="textos">
                </div>
                <div class="textos" style="width: 150px;">
                </div>
            </div>
            <div class="caixas">
            </div>
        </div>
        <div class="box3">
            <div class="caixas">
                <img src="img1" alt="img1"/>
            </div>
            <div class="caixas">
                <div class="textos">
                </div>
                <div class="textos">
                </div>
                <div class="textos">
                </div>
                <div class="textos" style="width: 150px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="progressbar">
    <div class="progress">
    </div>
</div>

