.box3 {
    text-align: left;
    box-sizing: border-box;
    padding: 25px 30px;
    width: 100%;
    border-style: solid;
    padding: 30px;
    border-width: 1px;
    border-color: grey;
}

.boxinho {
    display: flex;
    margin-top: -40px;
}

.ml {
    margin-left: 90px; 
}

ul {
    list-style-type:circle;
}

.titulos {
    background-color: grey;
    border-radius: 15px;
    height: 20px;
    width: 40%;
    margin: auto;  
}

.firstcontent {
    width: 50%;
}